/* shared color */
body{
    font-family: 'lato', sans-serif;
    font-family: 'open sans',sans-serif ;

}
/* primary-color */
.primary-tex{
    color:#FD6E0A;
}
/* btn-primary-color */
.btn-primary{ 
    background: #FD6E0A; 
    border-radius: 5px;
    border: 0px;
    color:white ;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 30px;
    

}

/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

/* nav h3 */
.nav-taitle{
    color: #181818;
font-size: 45px;
font-weight: 800px;
}

/* nav Ul */
nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

/* nav li */
nav li {
    list-style: none;
    margin-right: 50px;
}
/* nav a */
nav a {
    text-decoration: none;
    color: #474747;
}

/*header */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 710px;
  

}
/*bannerr */
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items:center;
    justify-content: space-between;
   
}
.banner-contain{
    max-width:500px ;
   

}
.banner-profile{
    width: 510px;
}
.banner-img{
    margin-right: 10PX;
}

.banner-introduce{
    font-size: 20px;
    color: #474747;
    margin-bottom: 0;
  
}
.banner-taitle{
    font-size: 50px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.btn-same{
  margin-right:30px;
}
#btn-contract{
    background-color: #FFF8F3;
    border: 0.5px solid  #FD6E0A;
    color: #181818;
 
}
/* Main  */
main{
    max-width: 1140px;
    margin: 0px auto;
}

/* about section */
.about{
    padding: 130px;
   background: #FFF8F3; 
   border-radius: 10px;
   margin: 130px 0px;

}
.about-tittle{
 color: #181818;
 text-align: center;
 font-size: 35px;
 font-weight: 700;
 
}
.about-discription{  
 color: #757575;
 text-align: center;
 font-size: 18px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-tittle{
color: #757575;
font-size: 15px;
font-weight: 100;
}
.info-discription{
color: #474747;
font-size: 17px;
font-weight: 700;
}